.profile__edit-button {
    border: 1px solid #FFFFFF;
    background-color: black;
    box-sizing: border-box;
    margin-left: 18px;
    width: 24px;
    height: 24px;
    padding: 0;
}

@media (max-width: 768px) {
    .profile__edit-button {
        margin-left: 10px;
        width: 18px;
        height: 18px;
        /* padding: 3px; */
    }
}

.profile__edit-button:hover {
    opacity: 0.6;
    cursor: pointer;
}