.popup__close-button {
    position: fixed;
    top: calc(50vh - 210px);
    right: calc(50vw - 240px);
    color: #aaa;
    float: right;
    font-size: 40px;
    font-weight: bold;
}

.popup__close-button:hover,
.popup__close-button:focus {
  opacity: 0.6;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 618px) {
    .popup__close-button {
        top: calc(50vh - 210px);
        right: calc(50vw - 150px);
    }
}


.popup__close-button:hover,
.popup__close-button:focus {
  opacity: 0.6;
  text-decoration: none;
  cursor: pointer;
}