.profile__bio {
    margin: 0;
    margin-top: 16px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.78px;
    max-width: 300px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/* custom breakpoint - font size + padding changes */
@media (max-width: 768px) {
    .profile__bio {
        font-size: 14px;
        line-height: 17px;
    }
}